<script lang="ts">
	import Form from './Form.svelte'
</script>

<svelte:head>
	<title>C3-namecard</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</svelte:head>

<main>
	<div class="container">
		<h1>C3-NAMECARD</h1>
		<Form></Form>
	</div>
</main>

<style>
	main {
		text-align: center;
		margin: 1rem;
		max-width: 100%;
		margin: 0 auto;
	}

	h1 {
		color: #ff3e00;
		text-transform: uppercase;
		font-size: 4em;
		font-weight: 100;
	}

	@media (min-width: 640px) {
		main {
			max-width: none;
		}
	}

	.container {
		display: inline-block;
	}
</style>