<script lang="typescript">
  import domToImage from 'dom-to-image'
  import Footer from './Footer.svelte'

  import type Profile from './Profile'
  export let profile: Profile

  let cardElem: Element
  let previewImgUrl: string
  let pendingPreviewUpdate: boolean = true

  async function genPNG () {
    console.info('Generating...')
    try {
      const dataUrl = await domToImage.toPng(cardElem)
      previewImgUrl = dataUrl
      pendingPreviewUpdate = false
    } catch (e) {
      console.error(e)
    }
  }

  let genTimeout: number

  $:headerStyle = `background-image: url(\"${profile.bgURL}\");`
  $:formattedChallenges = profile.challenges.replaceAll('\n', '<br />')
  $:formattedHobbies = profile.hobbies.replaceAll('\n', '<br />')
  $:formattedComment = profile.comment.replaceAll('\n', '<br />')

  $:{
    console.info(profile)
    if (genTimeout !== undefined ) {
      clearTimeout(genTimeout)
    }
    genTimeout = setTimeout(genPNG, 2000)
    pendingPreviewUpdate = true
  }

</script>

<div class="card-shadow-container">
  <div class="card-container" bind:this={cardElem}>
    <div class="card">
      <div class="header">
        <div class="cover-image" style={headerStyle} alt=""></div>
        <div class="row header">
          <div class="avatar">
            <img src={profile.avatarURL} alt="avatar" class="avatar-img">
            <div class="grade">{profile.grade}</div>
          </div>
          <div class="name-container">
            <div class="tags">
              {#each profile.tags as tag}
                <div class="tag">{tag}</div>
              {/each}
            </div>
            <div class="name">{profile.name}</div>
          </div>
        </div>
      </div>
      <div class="row" style="flex-grow: 2; align-items: flex-start;">
        <div class="col">
          <h3>Challenges</h3>
          <div class="challenges">
            <p>{@html formattedChallenges}</p>
          </div>
        </div>
        <div class="col">
          <h3>Hobbies</h3>
          <div class="hobbies">
            <p>{@html formattedHobbies}</p>
          </div>
        </div>
        <div class="col">
          <h3>Comment</h3>
          <div class="comment">
            <p>{@html formattedComment}</p>
          </div>
        </div>
      </div>
      <Footer />
    </div>
  </div>
</div>
<div class="preview">
  {#if !pendingPreviewUpdate}
    <a href={previewImgUrl} download>
      Download
    </a>
  {:else}
    ...
  {/if}
</div>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto:wght@400;700&display=swap');

  :root {
    --vertical-padding: 30px;
    --bg-color: #ddd;
    --primary-color: #222;
    --shadow-color: #ffffff11;
  }

  .card-shadow-container {
    display: inline-block;
    box-shadow: 3px 3px 10px silver;
    border-radius: 10px;
    overflow: hidden;
  }

  .card-container {
    position: relative;
    text-align: left;
    width: 860px;
    height: 560px;
    border-radius: 10px;
    overflow: hidden;
  }
  .card {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    flex-direction: column;
    text-align: left;
    font-family: 'Noto Sans JP', 'Roboto', sans-serif;
    justify-content: left;
    overflow: hidden;
    background-color: var(--bg-color);
    color: var(--primary-color);
  }

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px 30px;
    padding-top: 0px;
  }

  .row:first-child {
    padding-top: 30px;
    flex-grow: 2;
  }

  .row .col {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    flex-grow: 2;
  }

  .header {
    padding: 0px;
    position: relative;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    flex-grow: 2;
  }

  .row.header {
    padding: 30px;
  }

  .header .cover-image {
    position: absolute;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
  }

  .avatar {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: solid 3px var(--primary-color);
    flex-grow: 0;
    flex-shrink: 0;
    backdrop-filter: blur(3px);
  }

  .grade {
    position: absolute;
    right: 0;bottom: 0;
    font-size: 40px;
    background-color: var(--primary-color);
    color: var(--bg-color);
    padding: 5px 15px;
    border-radius: 20px;
    box-shadow: 3px 3px 10px var(--shadow-color);
    font-weight: bold;
  }

  .avatar-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }

  .name-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
  }

  .tags {
    display: flex;
    flex-direction: row;
  }

  .tag {
    padding: .5em 1em;
    margin-left: 1em;
    border-radius: 999px;
    background-color: var(--primary-color);
    font-weight: bold;
    color: var(--bg-color);
    box-shadow: 3px 3px 10px var(--shadow-color);
    white-space: nowrap;
  }

  .tag:first-child {
    margin-left: 0px;
  }

  .name {
    font-size: 60px;
    font-weight: bold;
    text-shadow: 0 0 3px silver;
  }


  .preview {
    position: relative;
    text-align: center;
    width: 100%;
    margin-top: 1em;
    font-size: 2em;
    font-weight: bold;
  }


  p {
    margin: 0;
    margin-right: .3em;
    padding: .2em 0;
  }

  :root {
    --text-background-color: transparent;
  }

  .col .challenges {
    background-color: var(--text-background-color);
  }
  .col .hobbies {
    background-color: var(--text-background-color);
  }
  .col .comment {
    background-color: var(--text-background-color);
  }
</style>