<script lang="typescript">
  import { onMount } from 'svelte'

  const PROJECT_ID = '25971862'
  let latestCommitID = ''
  let domain = ''

  onMount(async () => {
    const res = await fetch(`https://gitlab.com/api/v4/projects/${PROJECT_ID}/repository/commits`)
    const json = await res.json()
    console.info(json)
    latestCommitID = json[0].id
    domain = location.host
  })
</script>

<div class="footer">
  <span>{domain}</span>
  <span>version. {latestCommitID}</span>
</div>

<style>
  .footer {
    display: flex;
    font-size: .5em;
    flex-direction: row;
    justify-content: space-between;
    padding: .5rem;
  }
</style>