<script lang="typescript">
  import type Profile from './Profile'
  import Card from './Card.svelte'
  import { onMount } from 'svelte';

  let avatarFileList: FileList
  let bgFileList: FileList

  let customTag: string

  let hasRestoredLocalStorage = false

  onMount(() => {
    hasRestoredLocalStorage = true
    const raw = localStorage.getItem('profile')
    if(!raw) return
    console.info(raw)
    const storedProfile = JSON.parse(raw) as Profile
    profile.name = storedProfile.name
    profile.grade = storedProfile.grade
    profile.tags = storedProfile.tags
    profile.challenges = storedProfile.challenges
    profile.hobbies = storedProfile.hobbies
    profile.comment = storedProfile.comment
  })

  const grades = [
    'B1',
    'B2',
    'B3',
    'B4',
    'M1',
    'M2',
    'D1',
    'D2'
  ]

  const tags = [
    'Game',
    'CG',
    'Hack',
    'MediaArt'
  ]

  const seed = new Date().getTime()

  let profile: Profile = {
    name: 'ニックネーム',
    avatarURL: `https://picsum.photos/seed/${seed}/500/500`,
    bgURL: `https://picsum.photos/seed/${String(seed).repeat(2)}/860/560`,
    grade: 'B3',
    tags: ['Game'],
    challenges: '',
    hobbies: '',
    comment: ''
  }

  $:{
    if(avatarFileList) {
      URL.revokeObjectURL(profile.avatarURL)
      profile.avatarURL = URL.createObjectURL(avatarFileList.item(0))
    }
    if(bgFileList) {
      URL.revokeObjectURL(profile.bgURL)
      profile.bgURL = URL.createObjectURL(bgFileList.item(0))
    }
  }

  $:{
    console.info('hoge')
    if(hasRestoredLocalStorage) {
      localStorage.setItem('profile', JSON.stringify(profile))
    }
  }

</script>

<div>
  <Card profile={profile}></Card>
  <div class="form">
    <div class="row">
      <h3>名前</h3>
      <input class="input" type="text" accept="image/png, image/jpeg" bind:value={profile.name}>
    </div>
    <div class="row">
      <h3>アバター</h3>
      <input class="input" type="file" accept="image/png, image/jpeg" bind:files={avatarFileList}>
    </div>
    <div class="row">
      <h3>背景画像</h3>
      <input class="input" type="file" bind:files={bgFileList}>
    </div>
    <div class="row">
      <h3>学年</h3>
      <select bind:value={profile.grade}>
        {#each grades as grade}
          <option value={grade}>
            {grade}
          </option>
        {/each}
      </select>
    </div>
    <div class="row">
      <h3>タグ</h3>
      <div class="row tags">
        {#each tags as tag}
          <label class="tag">
            <input type=checkbox bind:group={profile.tags} value={tag}>
            {tag}
          </label>
        {/each}
          <label class="tag">
            <input type=checkbox bind:group={profile.tags} value={customTag}>
              <input type="text" bind:value={customTag}>
          </label>
      </div>
    </div>
    <div class="row">
      <h3>Challenges</h3>
      <textarea class="input" bind:value={profile.challenges}></textarea>
    </div>
    <div class="row">
      <h3>Hobbies</h3>
      <textarea class="input" bind:value={profile.hobbies}></textarea>
    </div>
    <div class="row">
      <h3>Comment</h3>
      <textarea class="input" bind:value={profile.comment}></textarea>
    </div>
  </div>
</div>

<style>
  .form {
    display: flex;
    margin: 1em;
    flex-direction: column;
    background-color: #ddd;
    padding: 2em;
  }
  .form input {
    margin: 0;
  }
  .form select {
    margin: 0;
  }
  .form .row {
    display: flex;
    flex-direction: row;
    margin-bottom: .5em;
    align-items: center;
  }

  .form .row h3 {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: .5em;
  }

  .form .row .input {
    flex-grow: 2;
  }

  .form .row.tags {
    flex-wrap: wrap;
  }

  .form .row .tag {
    margin-right: 1em;
  }

  .form .column {
    display: flex;
    flex-direction: column;
  }
</style>

